
@{
    ViewBag.Title = "QuemSomos";
}

<h2> Empresa ABC</h2>
<h3>Indo onde ninguém jamais esteve...</h3>
<p>
    A empresa ABC tem como missão pesquisar e descobrir novas
    tecnologias que tornem a experiência do programador que cria
    aplicações Web mais interessante e instigante.
</p>
<p>
    O número de bibliotecas, frameworks, padrões, ferramentas,
    protocolos e modelos disponíveis para o desenvolvimento de
    aplicações aumenta a cada ano.
</p>
<p>
    Nosso trabalho é testar e validar cada ferramenta que surge
    no mercado. Cada uma é analisada quanto à sua relevância,
    facilidade de uso, integração com padrões existentes e
    possibilidade de extensão e adaptação.
</p>
<p>
    Solicite a visita de um representante de nossa empresa sem
    compromisso, em uma visita real ou em vídeo conferência.
</p>

